<div class="form-body">
  <div class="row">
    <div class="form-holder">
      <div class="form-content">
        <div class="form-items">
          <h3>Create New Order</h3>
          <form
            class="requires-validation"
            enctype="application/x-www-form-urlencoded"
            method="post"
            action="/orders/create"
          >
            <div class="col-md-12">
              <select id="customer" name="customer" class="form-select mt-3" required>
                <option selected disabled value="">Customer Name</option>
                <% customers.forEach(customer => { %>
                <option value="<%= customer.id %>">
                  <%= customer.firstName %> <%= customer.lastName %>
                </option>
                <% }) %>
              </select>
            </div>

            <div class="col-md-12">
              <select name="product" class="form-select mt-3" id="product" required>
                <option selected disabled value="">Product Name</option>
                <% products.forEach(product => { %>
                <option value="<%= product.id %>" data-price="<%= product.price %>">
                  <%= product.name %>
                </option>
                <% }) %>
              </select>
            </div>

            <div class="col-md-12 mt-3">
              <input
                id="quantity"
                class="form-control"
                type="number"
                min="0"
                name="quantity"
                placeholder="quantity"
                required
              />
            </div>

            <div class="col-md-12">
              <p class="fw-semibold mt-3 mb-1">Total Price:</p>
              <p id="price">Rp. 0</p>
            </div>

            <div class="form-button mt-3 d-flex justify-content-between">
              <a href="/orders" class="btn btn btn-outline-secondary"> Cancel </a>
              <button id="submit" type="submit" class="btn btn-primary">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
