<!-- Page Description -->
<<<<<<< HEAD
<div class="row justify-content-center">
  <div class="col-8">
=======
<div class="row justify-content-center ms-4">
  <div class="col-md-7">
>>>>>>> 01693c760d05bcf0ba78c2595598ff4f541f93ee
    <h1>Halaman Order</h1>
    <p class="justified">
      Halaman ini adalah bagian dari sistem yang digunakan untuk mengelola transaksi pemesanan
      produk. Pada halaman ini, pengguna dapat melihat daftar pesanan yang telah dilakukan, termasuk
      detail seperti nomor pesanan, nama pelanggan, produk yang dipesan, jumlah, total harga, dan
      tanggal transaksi. Halaman ini membantu memfasilitasi proses pengelolaan dan pemantauan
      pesanan secara efisien, sehingga memudahkan bisnis dalam menjaga alur kerja yang teratur dan
      memastikan kepuasan pelanggan.
    </p>
  </div>
<<<<<<< HEAD
  <div class="col-4 align-content-center">
    <div class="justify-content-center d-flex">
      <a href="/orders/create" class="btn btn-dark">
=======
  <div class="col-md-5 align-content-center my-3">
    <div class="justify-content-center d-flex">
      <a href="/orders/create" class="btn btn-dark shadow">
>>>>>>> 01693c760d05bcf0ba78c2595598ff4f541f93ee
        <img src="assets/fi_plus.png" alt="" width="20px" class="pb-1 me-1" />
        Tambahkan Data Order
      </a>
    </div>
  </div>
</div>

<!-- Data Content -->
<<<<<<< HEAD
<<<<<<< HEAD
<div class="content my-3">
  <table class="table table-hover table-striped rounded-table">
    <thead class="table-dark">
      <tr class="text-center">
        <th scope="col">Order ID</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Email</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total Price</th>
        <th scope="col">Product</th>
        <th scope="col">Date</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody class="bg-light text-dark text-center align-middle">
      <tr>
        <th scope="row">1</th>
        <td>John Doe</td>
        <td>john.doe@example.com</td>
        <td>2</td>
        <td>Rp. 20.000</td>
        <td>Smartphone</td>
        <td>2024-10-16</td>
        <td>
          <div class="d-flex justify-content-center gap-3">
            <a class="btn btn-success" href="/orders/1/edit">
              <img src="/assets/fi_edit.png" alt="" width="18px" />
            </a>
            <button class="btn btn-warning" id="btnDetail">
              <i class="fa-regular fa-eye"></i>
            </button>
            <button class="btn btn-outline-danger" id="btnDelete">
              <img src="/assets/fi_delete.png" alt="" width="18px" />
            </button>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>John Doe</td>
        <td>john.doe@example.com</td>
        <td>2</td>
        <td>Rp. 20.000</td>
        <td>Smartphone</td>
        <td>2024-10-16</td>
        <td>
          <div class="d-flex justify-content-center gap-3">
            <a class="btn btn-success" href="/orders/1/edit">
              <img src="/assets/fi_edit.png" alt="" width="18px" />
            </a>
            <button class="btn btn-warning" id="btnDetail">
              <i class="fa-regular fa-eye"></i>
            </button>
            <!-- 10 pada link dibawah adalah id dari order yang nanti diganti order.id  -->
            <form action="/orders/delete/10" method="post">
              <button class="btn btn-outline-danger" id="btnDelete">
                <img src="/assets/fi_delete.png" alt="" width="18px" />
              </button>
            </form>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>John Doe</td>
        <td>john.doe@example.com</td>
        <td>2</td>
        <td>Rp. 20.000</td>
        <td>Smartphone</td>
        <td>2024-10-16</td>
        <td>
          <div class="d-flex justify-content-center gap-3">
            <a class="btn btn-success" href="/orders/1/edit">
              <img src="/assets/fi_edit.png" alt="" width="18px" />
            </a>
            <button class="btn btn-warning" id="btnDetail">
              <i class="fa-regular fa-eye"></i>
            </button>
            <button class="btn btn-outline-danger" id="btnDelete">
              <img src="/assets/fi_delete.png" alt="" width="18px" />
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
=======
<div class="content my-3 mx-4">
=======
<div class="table-container my-3 mx-4">
>>>>>>> upstream/main
  <div class="table-responsive">
    <table class="table table-hover table-striped rounded-table">
      <thead class="table-dark">
        <tr class="text-center">
          <th scope="col">Order ID</th>
          <th scope="col">Customer Name</th>
          <th scope="col">Email</th>
          <th scope="col">Product</th>
          <th scope="col">Quantity</th>
          <th scope="col">Total Price</th>
          <th scope="col">Datetime</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody class="bg-light text-dark text-center align-middle">
        <% orders.forEach(order => { %> <% const customer = order.customer%> <% const product =
        order.product %>
        <tr>
          <th scope="row"><%= order.id %></th>
          <td><%= customer.firstName %> <%= customer.lastName %></td>
          <td><%= customer.email %></td>
          <td><%= product.name %></td>
          <td><%= order.quantity %></td>
          <td>Rp. <%= order.totalPrice.toLocaleString('id-ID') %></td>
          <td><%= order.updatedAt.toLocaleString('id-ID') %></td>
          <td>
            <div class="d-flex justify-content-center gap-3">
              <button
                class="btn btn-success btn-update"
                data-order="<%= JSON.stringify(order) %>"
                data-customers="<%= JSON.stringify(customers) %>"
                data-products="<%= JSON.stringify(products) %>"
                data-bs-toggle="modal"
                data-bs-target="#updateModal"
              >
                <img src="/assets/fi_edit.png" width="18px" />
              </button>
              <button
                class="btn btn-warning btn-detail"
                data-id="<%= order.id %>"
                data-bs-toggle="modal"
                data-bs-target="#detailModal"
              >
                <i class="fa-regular fa-eye"></i>
              </button>
              <form action="/orders/delete/<%= order.id %>" method="post">
                <button class="btn btn-outline-danger" id="btnDelete">
                  <img src="/assets/fi_delete.png" width="18px" />
                </button>
              </form>
            </div>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>

<!-- Detail Modal -->

<div
  class="modal fade"
  id="detailModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="detailModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 fw-bold" id="detailModalLabel">Detail Order</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-hover table-bordered">
            <thead class="text-center table-secondary align-middle">
              <tr>
                <th scope="col">Customer</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
            <tbody class="text-center align-middle"></tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
>>>>>>> 01693c760d05bcf0ba78c2595598ff4f541f93ee
</div>

<!-- Update Modal -->
<div
  class="modal fade"
  id="updateModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="updateModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 fw-bold" id="updateModalLabel">Update Order With ID :</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer mx-auto gap-5">
        <button type="submit" class="btn btn-success" form="formUpdate">Submit</button>
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<% if (alert.message != null) { %>
<div
  class="alert alert-<%= alert.type %> alert-dismissible w-75 position-fixed z-3"
  role="alert"
  id="live-alert"
>
  <div><%= alert.message[0] %></div>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>
