<title><%= title%></title>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
/>

<% if (alert && alert.message) { %>
<div
  class="alert alert-<%= alert.type %> alert-dismissible w-100 position-fixed"
  role="alert"
  id="live-alert"
  style="
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 90%;
    text-align: center;
    z-index: 1050;
  "
>
  <div><%= alert.message %></div>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %>

<div class="container-fluid px-5 mt-5">
  <h2 class="mb-4">Customers List</h2>

  <!-- Warning for messages -->
  <script>
    // get query parameter
    const urlParams = new URLSearchParams(window.location.search);
    const message = urlParams.get("message");

    // If there is a message, display an alert
    if (message) {
      alert(message);
    }
  </script>

  <!-- Page Description -->
  <div class="row justify-content-center">
    <div class="col-8">
      <h1>Halaman Product</h1>
      <p class="justified">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br />
        Consequatur voluptas soluta dignissimos praesentium, a perspiciatis
        <br />
        eius ullam facilis quae quo! Lorem ipsum dolor sit amet consectetur
        <br />
        adipisicing elit. Eos, debitis. Lorem ipsum dolor sit amet.
      </p>
    </div>
    <div class="col-4 align-content-center">
      <div class="justify-content-center d-flex">
        <a href="/products/create" class="btn btn-dark">
          <img src="assets/fi_plus.png" alt="" width="20px" class="pb-1 me-1" />
          Add Product Data
        </a>
      </div>

      <div
        class="d-flex justify-content-between align-items-center mb-4 ms-5 ps-4"
      >
        <form
          class="d-flex align-items-center"
          action="/products/search"
          method="get"
        >
          <button
            type="submit"
            style="background-color: black; border: none"
            class="btn btn-primary mt-3 py-2 my-2 mx-2"
          >
            Search
          </button>
          <input
            type="text"
            class="form-control mr-2 ml-2 mt-2"
            name="id"
            placeholder="Enter ID"
            required
          />
        </form>
      </div>
    </div>
  </div>

  <div class="table-responsive my-3">
    <table class="table table-hover text-center">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Price</th>
          <th>Stock</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% products.map((product) => { %>
        <tr>
          <th><%= product.id %></th>
          <td><%= product.name %></td>
          <td><%= product.price %></td>
          <td><%= product.stock %></td>
          <td>
            <div class="d-flex justify-content-center gap-2">
              <a
                class="btn btn-success"
                href="/products/update/<%= product.id %>"
              >
                <img src="/assets/fi_edit.png" alt="Edit" width="18px" />
              </a>

              <form action="/products/search" method="get">
                <input type="hidden" name="id" value="<%= product.id %>" />
                <button class="btn btn-warning" id="btnDetail">
                  <i class="fa-regular fa-eye"></i>
                </button>
              </form>

              <form
                action="/products/delete/<%= product.id %>"
                method="post"
                onsubmit="return confirm('Are you sure you want to delete this Product?')"
              >
                <button
                  class="btn btn-outline-danger"
                  id="btnDelete"
                  type="submit"
                >
                  <img src="/assets/fi_delete.png" alt="Delete" width="18px" />
                </button>
              </form>
            </div>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
