<div class="container">
  <h1 class="mb-5">Update Product</h1>
  <form
    action="/products/update/<%= product.id %>?_method=PATCH"
    method="POST"
    enctype="application/x-www-form-urlencoded"
  >
    <div class="col-6 mt-5">
      <label for="name" class="form-label">Product Name</label>
      <input
        name="name"
        type="text"
        class="form-control"
        id="name"
        value="<%= product.name %>"
      />
      <div class="invalid-feedback">
        Please enter a valid email address for shipping updates.
      </div>
    </div>

    <div class="col-6 mt-3">
      <label for="price" class="form-label">Price</label>
      <input
        name="price"
        type="text"
        class="form-control"
        id="price"
        value="<%= product.price %>"
      />
      <div class="invalid-feedback">
        Please enter a valid email address for shipping updates.
      </div>
    </div>

    <div class="col-6 mt-3">
      <label for="stock" class="form-label">Stock</label>
      <input
        name="stock"
        type="text"
        class="form-control"
        id="stock"
        value="<%= product.stock %>"
      />
      <div class="invalid-feedback">
        Please enter a valid email address for shipping updates.
      </div>
    </div>

    <div class="desc mt-3 mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea
        name="description"
        class="form-control"
        id="description"
        rows="3"
      >
<%= product.description %></textarea
      >
    </div>

    <button class="w-10 btn btn-secondary btn-lg mt-5" type="submit">
      Save Product
    </button>
  </form>
</div>
